name: CI - MLflow Model Training

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:  # Trigger manual

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: '3.9'
        miniconda-version: "latest"
    
    - name: Install MLflow
      run: |
        pip install mlflow
    
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --no-conda
      env:
        MLFLOW_TRACKING_URI: file:///tmp/mlruns
    
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: mlflow-artifacts
        path: /tmp/mlruns/
        retention-days: 30