# .github/workflows/ci.yml

name: Model Retraining Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**' 

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow==2.11.3 scikit-learn==1.4.1 pandas==2.2.1

      - name: Run MLflow Project (Model Retraining)
        # Jalankan script Python langsung, bukan menggunakan 'mlflow run'
        run: |
          cd MLProject
          python modelling.py --input_data "namadataset_preprocessing/iris_processed.csv"
        env:
          MLFLOW_TRACKING_URI: file:./mlruns

      - name: Upload MLflow Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts-model-${{ github.sha }}
          path: MLProject/mlruns
          retention-days: 7