name: Model Retraining Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**'
      - '.github/workflows/ci.yml'

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install mlflow==2.11.3
          pip install pandas==2.2.1
          pip install scikit-learn==1.4.1

      - name: Run MLflow Project
        run: |
          cd MLProject
          mkdir -p mlruns
          mlflow run . --no-conda
        env:
          MLFLOW_TRACKING_URI: file:./mlruns

      - name: Upload MLflow Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts-${{ github.sha }}
          path: MLProject/mlruns/
          retention-days: 30